<apex:component id="BelongHeaderCompId">

<apex:attribute name="displayNavigation" type="Boolean" default="true" required="false" description="Show hide nav"/>

	<header class="header ui-slate">
		<div class="header__logo">
			<a class="header__hamburger hide-for-medium" data-toggle="header__menu"></a>
			<a class="logo" href="https://www.belong.com.au"><span class="show-for-sr">Belong</span></a>
		</div>
		<apex:outputPanel rendered="{!displayNavigation}">
		<div class="header__menu" id="header__menu" data-toggler=".header__menu--open">
			<a class="header__menu-item header__menu-item--right" href="https://www.belong.com.au/account">Sign In</a>
		</div>
		</apex:outputPanel>
	</header>
</apex:component>